body{
  background-color: #cdd2f0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

html, body {
  touch-action: manipulation;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
}

#golly{
  font-size:xx-large;
}

#silly{
  font-size: large;
}

.ramble{
  margin:auto;
  width:80%;
  text-align: left;
}

.grid table, .grid th, .grid td {
  border:2px solid #2b2b2d;
  border-collapse: collapse;
}

.grid tr{
    height: 60px;
}

.grid td{
   background-color: #484d6977;
   width: 60px;
}

.grid td.active{
  background-color: #fff157;
}

.grid td.middle{
  background-color: #a64c68bb;
}

.grid td.corner, .grid td.edge{
  cursor: pointer;
}

#resultsTableContainer{
  overflow-x: auto;
  width: 100%;
}

#resultsTableContainer table, #resultsTableContainer th, #resultsTableContainer td{
  border:1px solid #2b2b2d;
  border-collapse: collapse;
}

#resultsTableContainer table{
  white-space: nowrap;
}

#resultsTable{
  width: 100%;
}

#resultsTableContainer th, #resultsTableContainer td {
  padding:2px;
}

#detailTableContainer{
  padding:5px 0px;
}

#detailTable{
  width:60%;
}

.intSetting{
  width: 40px;
}

#intBoardContainer table, #intBoardContainer tr, #intBoardContainer td{
  border:1px solid #2b2b2d;
  border-collapse: collapse;
}

#intBoardContainer tr{
  height: 40px;
}


#intBoardContainer td{
  background-color: #484d6977;
  width: 40px;
}


#intBoardContainer td.active{
  background-color: #fff157;
}