body{
  background-color: #cdd2f0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

html, body {
  touch-action: manipulation;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
}

#golly{
  font-size:xx-large;
}

#silly{
  font-size: large;
}

#ramble{
  margin:auto;
  width:80%;
  text-align: left;
}

table, th, td {
  border:2px solid #2b2b2d;
  border-collapse: collapse;
}

tr{
    height: 60px;
}

td{
   background-color: #484d6977;
   width: 60px;
}

td.active{
  background-color: #fff157;
}

td.middle{
  background-color: #a64c68bb;
}

td.corner, td.edge{
  cursor: pointer;
}